.our-text span{
	color: red;

}
.our-section{
	background: #bdc3c7;
	padding: 100px 0;
}
img{
	max-width:100%;
	height: auto;
}
.our-card{
	padding: 50px 0;
}
.my-card{
	box-shadow: -15px -20px 5px red;
}